* {
    box-sizing: border-box;
}

/* .rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

:root {
    --bg: #0f172a;
    --card: #0b1220;
    --accent: #7c5cff;
    --muted: #9aa6c0;
    --glass: rgba(255, 255, 255, 0.03);
}

body {
    margin: 0;
    color: white;
    background: radial-gradient(125% 125% at 50% 90%, #000000 40%, #0d1a36 100%);
    min-height: 100vh;
}

.links {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Rubik", sans-serif;
    margin: 20px;
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 6px 20px rgba(93, 100, 134, 0.6);
}

.auth-links {
    display: flex;
    gap: 20px;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-family: "Rubik", sans-serif;
}

.btn-logout {
    border: none;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    transition: transform 0.5s ease-in;
}

.btn-logout:hover {
    transform: scale(1.09);
}

.container {
    max-width: 900px;
    margin: 32px auto;
    padding: 20px;
}

.hero-section {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.username {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 100px;
    background: linear-gradient(#1c086dc2, #02d1f1);
    background-size: 200%, 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 650px) {
    .username {
        font-size: 50px;
    }
}

.heading-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.todo-card {
    padding: 20px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 5px 50px rgba(189, 186, 186, 0.879);
    backdrop-filter: blur(6px);
}

.all-todos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: inline-grid;
    place-items: center;
    cursor: pointer;
    border: 1px solid rgba(255, 249, 249, 0.708);
}

.todo-title {
    font-size: 20px;
}

.input-area {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    padding: 30px;
}

.input-form-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.input-task {
    width: 350px;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    font-size: 16px;
    transition: box-shadow .15s ease, transform .15s ease;
}

.deadline {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.deadline span {
    margin-right: 12px;
}

.deadline input {
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
}

.btn-add {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.todo-list {
    margin: 18px 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 26px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(2, 6, 23, 0.6);
    backdrop-filter: blur(6px);
}

.empty {
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-align: center;
}

.list-heading {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    padding: 10px 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.todo-left {
    display: flex;
    gap: 12px;
    font-size: 16px;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.task-deadline span {
    font-size: 24px;
}

.task-deadline input {
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
}

.action-btn {
    display: flex;
    gap: 16px;
}

.btn-edit {
    background-color: #bec400;
    color: #fff;
    border: none;
    padding: 8px 22px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-edit:hover {
    background-color: #f4f792;
    transform: scale(1.05);
    color: black;
}

.btn-save {
    background-color: #1bcf45;
    color: #fff;
    border: none;
    padding: 8px 22px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-save:hover {
    background-color: #218838;
    transform: scale(1.05);
    color: black;
}

.btn-cancel {
    background-color: #a2c09a54;
    color: #fff;
    border: none;
    padding: 8px 22px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-cancel:hover {
    background-color: #a2c09ab9;
    transform: scale(1.05);
}

.btn-delete {
    background-color: #ce0a0a;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-delete:hover {
    background-color: #f7a392;
    transform: scale(1.05);
}

.edit-input-title {
    width: 200px;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    font-size: 16px;
    transition: box-shadow .15s ease, transform .15s ease;
}

.edit-input-deadline {
    font-size: 24px;
}

.signup-container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 5px 22px rgba(189, 186, 186, 0.879);
    backdrop-filter: blur(6px);
    font-family: "Rubik", sans-serif;
}

.reg-card {
    display: flex;
    justify-content: center;
}

.signup-form {
    flex: 1;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.reg-form-row input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    font-size: 16px;
    transition: box-shadow .15s ease, transform .15s ease;
}


.btn-signup {
    background: linear-gradient(90deg, #7c5cff, #5cc3ff 120%);
    color: black;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-signup:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(138, 7, 238, 0.79);
}



.login-container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 5px 22px rgba(189, 186, 186, 0.879);
    backdrop-filter: blur(6px);
    font-family: "Rubik", sans-serif;
}

.login-card {
    display: flex;
    justify-content: center;
}

.login-form {
    flex: 1;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.login-form-row {
    position: relative;
}

.reg-form-row {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.password-toggle-icon:hover {
    color: #333;
}

.login-form-row input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    font-size: 16px;
    transition: box-shadow .15s ease, transform .15s ease;
}

.btn-login {
    background: linear-gradient(90deg, #7c5cff, #5cc3ff 120%);
    color: black;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-login:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(138, 7, 238, 0.79);
}



footer p {
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}